<!-- ===== Header Start ===== -->
<include src="./partials/header.html" />
<header
class="sticky top-0 z-999 flex w-full bg-white drop-shadow-1 dark:bg-boxdark dark:drop-shadow-none"
>
<div
class="flex-grow flex items-center justify-between px-4 py-4 shadow-2 md:px-6 2xl:px-11"
>
<div class="flex items-center gap-2 sm:gap-4 lg:hidden">
<!--Hamster Toggle Button-->
<button class="z-99999 block rounded-sm border border-stroke bg-white p-1.5 shadow-sm dark:border-strokedark dark:bg-boxdark lg:hidden"
@click.stop="sidebarToggle = !sidebarToggle"
>
<span class="relative block h-5.5 w-5.5 cursor-pointer">
<span class="du-block absolute right-0 h-full w-full">
<span
  class="relative left-0 top-0 my-1 block h-0.5 w-0 rounded-sm bg-black delay-[0] duration-200 ease-in-out dark:bg-white"
  :class="{ '!w-full delay-300': !sidebarToggle }"
></span>
<span
      class="relative left-0 top-0 my-1 block h-0.5 w-0 rounded-sm bg-black delay-150 duration-200 ease-in-out dark:bg-white"
      :class="{ '!w-full delay-400': !sidebarToggle }"
    ></span>
    <span
      class="relative left-0 top-0 my-1 block h-0.5 w-0 rounded-sm bg-black delay-200 duration-200 ease-in-out dark:bg-white"
      :class="{ '!w-full delay-500': !sidebarToggle }"
    ></span>
</span>
<span class="du-block absolute right-0 h-full w-full rotate-45">
<span
  class="absolute left-2.5 top-0 block h-full w-0.5 rounded-sm bg-black delay-300 duration-200 ease-in-out dark:bg-white"
  :class="{ '!h-0 delay-[0]': !sidebarToggle }"
></span>
<span
      class="delay-400 absolute left-0 top-2.5 block h-0.5 w-full rounded-sm bg-black duration-200 ease-in-out dark:bg-white"
      :class="{ '!h-0 dealy-200': !sidebarToggle }"
    ></span>
</span>
</span>
</button>
<!--Hamburger Toggle Button-->
<a class="block flex-shrink-0 lg:hidden" href="index.html"></a>
<img src="./images/" alt="Logo" />
</a>
</div>
<div class="hidden sm:block">
<form action="https://formbold.com/s/unique_form_id" method="POST">
<div class="relative">
  <button class="absolute left-0 top-1/2 -translate-y-1/2 h-6 w-4">
    <i class="fa-solid fa-magnifying-glass w-4 h-4" style="color:#4b5566"></i>
  </button>

  <input
    type="text"
    placeholder="Type to search..."
    class="bg-white text-gray-600 pl-9 pr-6 focus:outline-none rounded-lg"
  />
</div>
</form>
</div>
<div class="flex items-center gap-3 2xsm:gap-7">
<ul class="flex items-center gap-2 2xsm:gap-4">
<li>
<!-- Dark Mode Toggler -->
<label
  :class="darkMode ? 'bg-primary' : 'bg-stroke'"
  class="relative m-0 block h-7.5 w-14 rounded-full "
>
  <input
    type="checkbox"
    :value="darkMode"
    @change="darkMode = !darkMode"
    class="absolute top-0 z-50 m-0 h-full w-full cursor-pointer opacity-0"
  />
  <span
    :class="darkMode && '!right-1 !translate-x-full'"
    class="absolute left-1 top-1/2 flex h-7 w-10 -translate-y-1/2 translate-x-0 items-center justify-center rounded-full bg-gray-200 shadow-switcher duration-75 ease-linear"
  >
    <span class="dark:hidden bg-white border-radius h-6 w-6 rounded-full">
      <i class="fa-regular fa-sun justify-center items-center" style="color: #4b5566"></i>
    </span>
    <span class="hidden dark:inline-block bg-white">
      <i class="fa-solid fa-moon" style="color: #4b5566"></i> 
    </span>
  </span>
</label>
<!-- Dark Mode Toggler -->
</li>

<!-- Notification Menu Area -->
<li
class="relative"
x-data="{ dropdownOpen: false, notifying: true }"
@click.outside="dropdownOpen = false"
>
<a
  class="relative flex h-8 w-8 items-center justify-center rounded-full border-radius border-stroke bg-gray-200"
  href="#"
  @click.prevent="dropdownOpen = ! dropdownOpen; notifying = false"
>
  <span
    :class="!notifying && 'hidden'"
    class="absolute -top-0.5 right-0 z-1 h-2 w-2 bg-red-600 rounded-full "
  >
    <span
      class="absolute -z-1 h-full w-full animate-ping rounded-full bg-red-600"
    ></span>
  </span>

  <i class="fa-regular fa-bell" style="color:#4b5566"></i>
</a>

<!-- Dropdown Start -->
<div
  x-show="dropdownOpen"
  class="absolute -right-27 mt-2.5 flex h-70 w-65 flex-col rounded-lg border border-stroke bg-white shadow-default dark:bg-boxdark sm:right-0 sm:w-80"
>
  <div class="px-4.5 py-3">
    <h5 class="text-sm font-medium text-gray-500">Notification</h5>
  </div>

  <ul class="flex h-auto flex-col overflow-y-auto">
    <li>
      <a
        class="flex flex-col gap-2.5 border-t border-stroke px-4.5 p hover:bg-gray-100 dark:border-strokedark"
        href="#"
      >
        <p class="text-sm text-gray-400">
          <span class="text-black"
            >Edit your information in a swipe</span
          >
          Sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim.
        </p>

        <p class="text-xs text-gray-400">12 May, 2025</p>
      </a>
    </li>
    <li>
      <a
        class="flex flex-col gap-2.5 border-t border-stroke px-4.5 py-3 hover:bg-gray-200 dark:border-strokeblack"
        href="#"
      >
        <p class="text-sm text-gray-400">
          <span class="text-black"
            >It is a long established fact</span
          >
          that a reader will be distracted by the readable.
        </p>

        <p class="text-xs text-gray-400">24 Feb, 2025</p>
      </a>
    </li>
    <li>
      <a
        class="flex flex-col gap-2.5 border-t border-stroke px-4.5 py-3 hover:bg-gray-200 dark:border-strokedark"
        href="#"
      >
        <p class="text-sm text-gray-400">
          <span class="text-black"
            >There are many variations</span
          >
          of passages of Lorem Ipsum available, but the majority have
          suffered
        </p>

        <p class="text-xs text-gray-400">04 Jan, 2025</p>
      </a>
    </li>
    <li>
      <a
        class="flex flex-col gap-2.5 border-t border-stroke px-4.5 py-3 hover:bg-gray-200 dark:border-strokedark"
        href="#"
      >
        <p class="text-sm text-gray-400">
          <span class="text-black"
            >There are many variations</span
          >
          of passages of Lorem Ipsum available, but the majority have
          suffered
        </p>

        <p class="text-xs text-gray-400">01 Dec, 2024</p>
      </a>
    </li>
  </ul>
</div>
<!-- Dropdown End -->
</li>
<!-- Notification Menu Area -->

<!-- Chat Notification Area -->
<li
  class="relative"
  x-data="{ dropdownOpen: false, notifying: true }"
  @click.outside="dropdownOpen = false"
>
  <a
    class="relative flex h-8 w-8 items-center justify-center rounded-full border-radius border-stroke bg-gray-200"
    href="#"
    @click.prevent="dropdownOpen = ! dropdownOpen; notifying = false"
  >
    <span
      :class="!notifying && 'hidden'"
      class="absolute -right-0.5 -top-0.5 z-1 h-2 w-2 rounded-full bg-red-600"
    >
      <span
        class="absolute -z-1 inline-flex h-full w-full animate-ping rounded-full opacity-75 bg-red-600"
      ></span>
    </span>

    <i class="fa-regular fa-message" style="color: #4b5566"></i>
  </a>

  <!-- Dropdown Start -->
  <div
    x-show="dropdownOpen"
    class="absolute -right-16 mt-2.5 flex h-70 w-65 flex-col rounded-lg border border-stroke bg-white shadow-default  sm:right-0 sm:w-80" 
    
  >
    <div class="px-4.5 py-3">
      <h5 class="text-sm font-medium text-gray-600">Messages</h5>
    </div>

    <ul class="flex h-auto flex-col overflow-y-auto">
      <li>
        <a
          class="flex border-t border-stroke px-4.5 py-3 hover:bg-gray-200 dark:border-strokedark"
          href="messages.html"
        >
          <div class="h-10 w-10 rounded-full">
            <img src="./images/user/user-02.png" alt="User" />
          </div>

          <br>
          <div class="mr-4">
            <h6 class="text-sm font-medium text-black dark:text-white">
              Mariya Desoja
            </h6>
            <p class="text-xs text-gray-600">I like your confidence 💪</p>
            <p class="text-xs text-gray-400">2min ago</p>
          </div>
        </a>
      </li>
      <li>
        <a
          class="flex gap-4.5 border-t border-stroke px-4.5 py-3 hover:bg-gray-200 dark:border-strokedark "
          href="messages.html"
        >
          <div class="h-10 w-10 rounded-full">
            <img src="./images/user/user-01.png" alt="User" />
          </div>

          <div class="mr-4">
            <h6 class="text-sm font-medium text-black dark:text-white">
              Robert Jhon
            </h6>
            <p class="text-sm text-gray-600">Can you share your offer?</p>
            <p class="text-xs text-gray-400">10min ago</p>
          </div>
        </a>
      </li>
      <li>
        <a
          class="flex gap-4.5 border-t border-stroke px-4.5 py-3 hover:bg-gray-2 dark:border-strokedark"
          href="messages.html"
        >
          <div class="h-10 w-10 rounded-full">
            <img src="./images/user/user-03.png" alt="User" />
          </div>

          <div>
            <h6 class="text-sm font-medium text-black dark:text-white">
              Henry Dholi
            </h6>
            <p class="text-sm text-gray-600">I cam across your profile and...</p>
            <p class="text-xs text-gray-400">1day ago</p>
          </div>
        </a>
      </li>
      <li>
        <a
          class="flex gap-4.5 border-t border-stroke px-4.5 py-3 hover:bg-gray-2 dark:border-strokedark"
          href="messages.html"
        >
          <div class="h-10 w-10 rounded-full">
            <img src="./images/user/user-04.png" alt="User" />
          </div>

          <div>
            <h6 class="text-sm font-medium text-black dark:text-white">
              Cody Fisher
            </h6>
            <p class="text-sm text-gray-600
            ">I’m waiting for you response!</p>
            <p class="text-xs text-gray-400">5days ago</p>
          </div>
        </a>
      </li>
      <li>
        <a
          class="flex gap-4.5 border-t border-stroke px-4.5 py-3 hover:bg-gray-2 dark:border-strokedark"
          href="messages.html"
        >
          <div class="h-0 w-0 rounded-full">
            <img src="./images/user/user-02.png" alt="User" />
          </div>

          <div>
            <h6 class="text-sm font-medium text-black dark:text-white">
              Mariya Desoja
            </h6>
            <p class="text-sm text-gray-600">I like your confidence 💪</p>
            <p class="text-xs text-gray-400">2min ago</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <!-- Dropdown End -->
</li>
<!-- Chat Notification Area -->
</ul>

<!-- User Area -->
<div
class="relative"
x-data="{ dropdownOpen: false }"
@click.outside="dropdownOpen = false"
>
<a
class="flex items-center gap-4"
href="#"
@click.prevent="dropdownOpen = ! dropdownOpen"
>
<span class="hidden text-right lg:block">
<span class="block text-sm font-medium text-black"
  >Thomas Anree</span
>
<span class="block text-xs font-medium text-gray-500">Frontend Developer</span>
</span>

<span class="h-12 w-12 rounded-full">
<img src="./images/user/user-01.png" alt="User"/>
</span>

<i class="fa-solid fa-caret-up"></i>
</a>
<!-- Dropdown Start -->
<div
x-show="dropdownOpen"
class="absolute right-0 mt-4 flex w-62.5 flex-col rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
>
<ul
class="flex flex-col gap-5 border-b border-stroke px-6 py-7.5 dark:border-strokedark"
>
<li>
<a
href="profile.html"
class="flex items-center gap-3.5 text-sm font-medium duration-300 ease-in-out text-gray-400
 hover:text-blue-900 lg:text-base"
>
<i class="fa-regular fa-user" style="color:#4b5566"></i>
My Profile
</a>
</li>
<li>
<a
href="messages.html"
class="flex items-center gap-3.5 text-sm font-medium duration-300 ease-in-out hover:text-blue-900 text-gray-400 lg:text-base"
>
<i class="fa-solid fa-address-book" style="color:#4b5566"></i>
My Contacts
</a>
</li>
<li>
<a
href="settings.html"
class="flex items-center gap-3.5 text-sm font-medium duration-300 ease-in-out text-gray-400 hover:text-blue-900 lg:text-base"
>
<i class="fa-solid fa-gear" style="color:#4b5566"></i>
Account Settings
</a>
</li>
</ul>
<button
class="flex items-center gap-3.5 px-6 py-4 text-sm font-medium duration-300 ease-in-out hover:text-blue-900 lg:text-base text-gray-400"
>
<i class="fa-solid fa-right-to-bracket" style="color:#4b5566"></i>
Log Out
</button>
</div>
<!-- Dropdown End -->
</div>
<!--User Area-->
</div>
</div>
</header> 

<!-- ===== Header End ===== -->




